<p>
    Money Manager 365 is committed to being an excellent Expense Tracker App, we promised keep the app run
    smoothly, no background function running and
    free cloud data storage. Currently, it has supported Android, iOS, and desktop platforms. We will
    continue to provide better user experiences and more functionalities.
</p>
<p>
    At the same time, we are well aware that an App can continue to operate for a long time and needs a healthy
    development model. If you are interested in supporting us, you can subscribe membership and enjoy more
    functionalities. Thank you very much for your support!
</p>

<div class="comparison" *ngIf="isPaypalShow == false">

    <table>
        <thead>
            <tr>
                <th class="tl tl2"></th>
                <th colspan="3" class="qbse">
                    Discount up to 50%
                </th>
                <th class="qbo">
                    Life Time
                </th>
            </tr>
            <tr>
                <th class="tl"></th>
                <th class="compare-heading">
                    1 Month
                </th>
                <th class="compare-heading">
                    6 Months
                </th>
                <th class="compare-heading">
                    12 Months
                </th>
                <th class="compare-heading">
                    Life Time
                </th>
            </tr>
            <tr>
                <th></th>
                <th class="price-info">
                    <div>&nbsp;</div>
                    <!-- <div class="price-was">Was $6.00</div> -->
                    <div class="price-now"><span>$1.<span class="price-small">.00</span></span> / 1 month</div>
                    <div class="price-button" (click)="onVipClicked(1)"><span class="price-buy">Buy <span
                                class="hide-mobile">Now</span></span></div>
                    <!-- <div class="price-try">Save 15%</div> -->
                    <div>&nbsp;</div>
                </th>
                <th class="price-info">
                    <div class="price-was">Was $6.00</div>
                    <div class="price-now"><span>$4<span class="price-small">.80</span></span> / 6 months</div>
                    <div class="price-button" (click)="onVipClicked(2)"><span class="price-buy">Buy <span
                                class="hide-mobile">Now</span></span></div>
                    <div class="price-try">Save 20%</div>
                </th>
                <th class="price-info">
                    <div class="price-was">Was $12.00</div>
                    <div class="price-now"><span>$6<span class="price-small">.00</span></span> / 12 months</div>
                    <div class="price-button" (click)="onVipClicked(3)"><span class="price-buy">Buy <span
                                class="hide-mobile">Now</span></span></div>
                    <div class="price-try">Save 50%</div>
                </th>
                <th class="price-info">
                    <div>&nbsp;</div>
                    <!-- <div class="price-was">Was $48.80</div> -->
                    <div class="price-now"><span>$18<span class="price-small">.00</span></span> Life Time</div>
                    <div class="price-button" (click)="onVipClicked(4)"><span class="price-buy">Buy <span
                                class="hide-mobile">Now</span></span></div>
                    <div class="price-try">Limitted Time Sales</div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">Unlimited Devices Sync</td>
            </tr>
            <tr class="row-even">
                <td>Unlimited Devices Sync</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr>

            <!-- <tr>
                <td></td>
                <td colspan="4">Android</td>
            </tr>
            <tr class="row-odd">
                <td>Android</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">iOS</td>
            </tr>
            <tr class="row-even">
                <td>iOS</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">PC App (Offline)</td>
            </tr>
            <tr class="row-odd">
                <td>PC App (Offline)</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">Web App (Online)</td>
            </tr>
            <tr class="row-even">
                <td>Web App (Online)</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr> -->
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">Unlimited Accounts Share</td>
            </tr>
            <tr class="row-odd">
                <td>Unlimited Accounts Share</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">Unlimited Budgets</td>
            </tr>
            <tr class="row-even">
                <td>Unlimited Budgets</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">Unlimited Chart Features</td>
            </tr>
            <tr class="row-odd">
                <td>Unlimited Chart Features</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">Unlimited Cloud Backup</td>
            </tr>
            <tr class="row-even">
                <td>Unlimited iCloud Backup</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">Unlimited Export Features</td>
            </tr>
            <tr class="row-odd">
                <td>Unlimited Export Features</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">Unlimited Currency Features</td>
            </tr>
            <tr class="row-even">
                <td>Unlimited Currency Features</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">Unlimited Recurring Transactions</td>
            </tr>
            <tr class="row-odd">
                <td>Unlimited Recurring Transactions</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td colspan="4">Unlimited Accounts</td>
            </tr>
            <tr class="row-even">
                <td>Unlimited Accounts</td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
                <td><span class="tickgreen">✔</span></td>
            </tr>

        </tbody>
    </table>

</div>
<ngx-paypal [amount]="amount" [vipCode]="vipCode" *ngIf="isPaypalShow == true">
</ngx-paypal>