<nb-card>
    <nb-card-header>VIP - Limited Time Sale</nb-card-header>
    <nb-card-body class="info-body">
        <div class="introduction_width">
            <p>
                Money Manager 365 is committed to being an excellent Expense Tracker App, we promised keep the app run
                smoothly, no background function running and
                free cloud data storage. Currently, it has supported Android, iOS, and desktop platforms. We will
                continue to provide better user experiences and more functionalities.
            </p>
            <p>
                At the same time, we are well aware that an App can continue to operate for a long time and needs a
                healthy
                development model. If you are interested in supporting us, you can subscribe membership functions and
                enjoy more
                functionalities. Thank you very much for your support!
            </p>
        </div>
        <div class="comparison">

            <table>
                <thead>
                    <tr>

                        <th colspan="3" class="qbse">
                            Discount up to 50%
                        </th>
                        <th class="qbo">
                            Life Time
                        </th>
                    </tr>
                    <tr>

                        <th class="compare-heading">
                            1 Month
                        </th>
                        <th class="compare-heading">
                            6 Months
                        </th>
                        <th class="compare-heading">
                            12 Months
                        </th>
                        <th class="compare-heading">
                            Life Time
                        </th>
                    </tr>
                    <tr>

                        <th class="price-info">
                            <div>&nbsp;</div>
                            <!-- <div class="price-was">Was $6.00</div> -->
                            <div class="price-now"><span>$1.<span class="price-small">.00</span></span> / 1 month</div>

                            <div>&nbsp;</div>
                        </th>
                        <th class="price-info">
                            <div class="price-was">Was $6.00</div>
                            <div class="price-now"><span>$4<span class="price-small">.80</span></span> / 6 months</div>
                            <div class="price-try">Save 20%</div>
                        </th>
                        <th class="price-info">
                            <div class="price-was">Was $12.00</div>
                            <div class="price-now"><span>$6<span class="price-small">.00</span></span> / 12 months</div>

                            <div class="price-try">Save 50%</div>
                        </th>
                        <th class="price-info">
                            <div>&nbsp;</div>
                            <!-- <div class="price-was">Was $48.80</div> -->
                            <div class="price-now"><span>$18<span class="price-small">.00</span></span> Life Time</div>
                            <div class="price-try">Limitted Time Sales</div>
                        </th>
                    </tr>
                </thead>

            </table>

        </div>
    </nb-card-body>

    <nb-card-footer>
        <button nbButton status="danger" (click)="onCancelClicked()">Cancel</button>
        <button class="yes" nbButton status="success" (click)="onGoClicked()">Open Vip Page</button>
    </nb-card-footer>
</nb-card>