<nb-card>
    <nb-card-header>
        <table class="title-table">
            <tr>
                
                <td>
                    
                    <button class="button-back" nbButton status="info" hero (click)="onBackClicked()">
                        Back
                    </button>
                </td>

            </tr>
        </table>
    </nb-card-header>
    <nb-card-body>
        
<table class="email-body-inner" align="center" width="100%" height="200">
    <tr>
        <td class="content-cell" align="center">
            <span id="amountShow">
               
            </span>
        </td>
    </tr>
    <tr>
        <td class="content-cell" align="center">

            <div id="paypal-button-container"></div>
            <br /><br /><br /><br />
        </td>
    </tr>
</table>


    </nb-card-body>
</nb-card>
