<nb-card [nbSpinner]="isLoading">
    <nb-card-body>

        <table class="table-header">

            <tr>
                <td class="table-header-td-2">
                    <nb-select [selected]="selectedType" (selectedChange)="onTypeChanged($event)" status="primary">
                        <nb-option *ngFor="let type of typeList" [value]="type">{{ type }}</nb-option>
                    </nb-select>
                </td>
                <td class="table-header-td-1"><span #line1Indicator class="dot1"></span> :</td>
                <td class="table-header-td-2">
                    <nb-select [selected]="line1Year" (selectedChange)="onLine1YearChanged($event)" status="primary">
                        <nb-option *ngFor="let year of yearList" [value]="year">{{ year }}</nb-option>
                    </nb-select>
                </td>
                <td class="table-header-td-1"><span #line1Indicator class="dot2"></span> :</td>
                <td class="table-header-td-2">
                    <nb-select [selected]="line2Year" (selectedChange)="onLine2YearChanged($event)" status="primary">
                        <nb-option *ngFor="let year of yearList" [value]="year">{{ year }}</nb-option>
                    </nb-select>
                </td>
                
                
                <td class="table-header-td-3">
                    <button class="refresh-button" nbButton status="info" hero (click)="onRefreshClicked()">
                        Refresh
                    </button>
                </td>

            </tr>
            
        </table>
        <br>
        <table>
            <tr>
                <td class="left-label">Account :</td>
                <td>
                    <nb-checkbox class="checkbox" *ngFor="let account of accountList"
                        [checked]="selectedAccountIdList.indexOf(account.accountId) >= 0"
                        (checkedChange)="onAccountCheckedChange($event,account)">
                        {{ account.name }}
                    </nb-checkbox>
                </td>
            </tr>
        </table>

    </nb-card-body>
</nb-card>

<nb-card class="chart-body"  >

    <nb-card-body class="chart-body">
        <ngx-chartjs-line class="chart-body"
        [labels]="monthList"
        [line1Data]="line1AmountList"
        [line2Data]="line2AmountList">

        </ngx-chartjs-line>
        <div>
            <br>
            Total Amount({{ line1Year }}) : {{ line1TotalAmountView }}&nbsp;&nbsp;&nbsp;&nbsp;
            Total Amount({{ line2Year }}) : {{ line2TotalAmountView }}&nbsp;&nbsp;&nbsp;&nbsp;
            Growth : {{ netAmountView }}
            
            <br>
        </div>

    </nb-card-body>

</nb-card>