


.radio-button{
    display: inline;
}
.title-table{
    width: 100%;
    height: 300px;
    vertical-align: middle;
}
.button-export{
    text-align: center;
}
.table_header{
    width: 100%;
}
.table_header tr{
    height: 50px;
}
.error-message{
    width: 100%;
    display: inline-block;
    color: rgb(232, 82, 82);
    font-weight: 400;
    text-decoration: none;
    text-align: center;
}
.table-footer{
    width: 100%;
}
.td-right{
    text-align: right;
}
.left-label{
    width: 120px;
}
.middle-label{
    width: 300px;
}
.middle-input{
    width: 100%;;
}
.text-center{
    width: 200px;
    text-align: center;
}
.checkbox{
    margin-right: 10px;
}
.example-table{
    border-collapse: collapse;
}
.example-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.full-width{
    width: 100%;
}
.example-label{
    width: 700px;
}
.preview{
    float: left;
    padding-left: 10px;
}